@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.outer-container {
	width: 800px;
	height: auto;
	/* 高さを自動調整 */
	background-color: white;
	display: flex;
	flex-direction: column;
	/* 子要素を縦に並べる */
	justify-content: center;
	align-items: center;
}

.inner-container {
	display: flex;
	flex-direction: column;
	/* 子要素を縦方向に配置 */
	align-items: center;
	position: relative;
	width: 350px;
	height: 522px;
	border: 2px solid #cccccc;
	border-radius: 71px;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	/* ロゴとインナーコンテナの間隔 */
}

.logo {
	width: 86px;
	/* 必要に応じて調整 */
	height: auto;
}

.title {
	padding-top: 19px;
	margin: 0px;
	font-size: 18px;
	color: black;
}

/* 各ラベルのデザイン */
label {
	display: block;
	margin-bottom: 5px;
}

label[for="name"] {
	margin-top: 16px;
	color: #333;
	font-size: 16px;
}

input#name {
	width: 230px;
	height: 30px;
	margin-top: 3px;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #cccccc;

}

label[for="locationId"] {
	margin-top: 12px;
	color: #555;
	font-size: 16px;
}

select#locationId {
	width: 252px;
	height: 53px;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #cccccc;
	background-color: white;
}

label[for="username"] {
	margin-top: 13px;
	color: #333;
	font-size: 16px;
}

input#username {
	width: 230px;
	height: 30px;
	margin-top: 3px;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #cccccc;

}

label[for="password"] {
	margin-top: 14px;
	color: #333;
	font-size: 16px;
}

input#password {
	width: 230px;
	height: 30px;
	margin-top: 2px;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #cccccc;

}

/* ボタンコンテナ */
.form-group button {
	margin-left: 159px;
	width: 93px;
	height: 43px;
	margin-top: 12px;
	font-size: 18px;
	cursor: pointer;
	background-color: #13b8a6;
	color: white;
	border: none;
}


/* エラーメッセージがある時のデザイン */

.inner-container.error-shown label[for="name"] {
	margin-top: 3px;
	/* 下に余白を追加 */
}

.error-message {
	position: relative;
	margin-top: 3px;
	text-align: center;
	color: red;
	font-size: 16px;
}