@charset "UTF-8";
body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.outer-container {
	width: 630px;
	height: 690px;
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-container {
	width: 520px;
	height: 605px;
	background-color: white;
	padding: 20px;
	border-radius: 0px;
	text-align: center;
	/* 中央寄せ */
	position: relative;
}

.button-container button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 240px;
	height: 90px;
	margin: 83px auto;
	font-size: 24px;
	border: 2px solid black;
	border-radius: 16px;
	cursor: pointer;
	background-color: #9dc3e6;
	color: black;
	transition: background-color 0.3s;
}
