@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.logo-container {
	margin-top: 8px;
	display: flex;
	justify-content: center;
}

.logo {
	width: auto;
	height: 64px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 690px;
	background-color: #a2b8e0;
}

.menu-item.active {
    font-weight: bold;
}

.menu {
	display: flex;
	justify-content: flex-start;
}

.menu ul {
	list-style-type: none;
}

.menu-item {
	display: block;
	padding: 6px;
	color: #333;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
}

.user-info {
	display: inline-block;
	margin-top: 192%;
	margin-left: 30px;
}

.username-display {
	margin-bottom: 3px;
}

.logout {
	text-decoration: none;
	color: white;
}

.outer-container {
	width: 630px;
	height: 690px;
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-container {
	width: 520px;
	height: 605px;
	background-color: white;
	padding: 20px;
	border-radius: 0px;
	text-align: left;
	position: relative;
}

.corner-label {
	position: absolute;
	top: 20px;
	left: 25px;
	font-size: 20px;
	color: black;
	background-color: white;
	padding: 5px 10px;
}

.info-container p {
	text-align: center;
	color: red;
	font-size: 27px;
	margin-top: 50%;
	font-weight: bolder;

}

.button-container a {
	position: absolute;
	bottom: 37%;
	right: 60px;
	width: 120px;
	height: 42px;
	font-size: 14px;
	cursor: pointer;
	background-color: #8faadc;
	color: white;
	display: flex;
	/* フレックスボックスで中央揃え */
	justify-content: center;
	/* 横方向中央揃え */
	align-items: center;
	/* 縦方向中央揃え */
	text-decoration: none;
	border: 1px solid black;
	/* ボタンの外枠 */
	border-radius: 5px;
	text-align: center;
	box-sizing: border-box;
}

.button-container a:hover {
	background-color: #f0f0f0;
	text-decoration: none;
}